body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
  font-family: sans-serif;
  padding: 20px;
}

.toolbar {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: white;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: center;
  width: fit-content;
}

button {
  padding: 6px 12px;
  border: 1px solid #aaa;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 2%;
}

canvas {
  touch-action: none;
  margin-top: 10px;
  background: white;
  border: 1px solid #ccc;
  max-width: 90vw;
  max-height: 80vh;
  image-rendering: crisp-edges;
  border: 2px solid #0a0a0a;
}

input[type=file] {
  display: none;
}

input[type=number] {
  width: 60px;
}