.editor-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 700px;
  margin: 60px auto;
}

.editor-wrapper canvas {
  touch-action: none; 
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.6);
}

.editor-wrapper input[type="text"] {
  position: absolute;
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px dashed rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.6);
  color: #000;
}

@media (max-width: 767px) {
  
  .editor-wrapper {
    padding-bottom: 90px;
    margin: 20px auto;
  }
  
}
